body{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 2;
    padding: 0;
    margin: 0;
    background-color: #777;
    color: #000;
}

.container{
    width: 80%;
    margin:auto;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/*header*/

header{
    background: #F38300;
    padding-top: 5px;
    min-height: 75px;
    
}

header #branding{
    float: left;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    margin-top: 7px;
}

/*navigation*/

header nav{
    float: right;
    font-size: 18px;
    margin-top: 20px;
}

header a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

header li{
    display:inline;
    padding: 0 25px 0 20px;
}

header a:hover{
    color: #703C00;
}
/*showcase*/

#showcase{
    min-height: 400px;
    background: url("../img/showcase.png") no-repeat 0 -400px;
}
